.bestSeller{
    width:100%;
    padding:100px 8%;
    background:#ffffff;
}

.best-heading{
    text-align:center;
    max-width:700px;
    margin:auto;
}

.best-heading .subtitle{
    font-family:Poppins,sans-serif;
    letter-spacing:6px;
    color:#8b6b55;
    font-size:15px;
    margin-bottom:15px;
}

.best-heading h2{
    font-family:"Cormorant Garamond",serif;
    font-size:60px;
    color:#2c1b14;
    margin-bottom:20px;
}

.best-heading .description{
    font-family:Poppins,sans-serif;
    color:#666;
    line-height:1.8;
    font-size:18px;
}

.best-grid{
    margin-top:70px;
    display:grid;
    grid-template-columns:repeat(4,1fr);
    gap:30px;
}

.best-card{
    background:white;
    border-radius:18px;
    overflow:hidden;
    position:relative;
    box-shadow:0 15px 35px rgba(0,0,0,.08);
    transition:.35s;
}

.best-card:hover{
    transform:translateY(-10px);
}

.best-card img{
    width:100%;
    height:320px;
    object-fit:cover;
    transition:.4s;
}

.best-card:hover img{
    transform:scale(1.06);
}

.heart{
    position:absolute;
    right:20px;
    top:20px;

    width:42px;
    height:42px;

    border-radius:50%;
    background:white;

    display:flex;
    justify-content:center;
    align-items:center;

    box-shadow:0 5px 15px rgba(0,0,0,.1);

    cursor:pointer;

    transition:.3s;
}

.heart:hover{
    background:#2c1b14;
    color:white;
}

.best-badge{

    position:absolute;

    left:20px;
    top:20px;

    background:#2c1b14;

    color:white;

    padding:8px 16px;

    border-radius:30px;

    font-size:12px;

    font-family:Poppins,sans-serif;

}

.best-content{
    padding:25px;
}

.best-content h3{

    font-family:"Cormorant Garamond",serif;

    font-size:34px;

    margin-bottom:12px;

}

.rating{

    display:flex;

    align-items:center;

    gap:4px;

    color:#c28d2d;

    margin-bottom:18px;

}

.rating span{

    color:#777;

    margin-left:8px;

    font-size:14px;

    font-family:Poppins,sans-serif;

}

.best-content h4{

    font-size:24px;

    color:#2c1b14;

    margin-bottom:10px;

}

.best-content p{

    color:#777;

    margin-bottom:22px;

    font-family:Poppins,sans-serif;

}

.best-content button{

    width:100%;

    padding:15px;

    border:none;

    border-radius:35px;

    background:#2c1b14;

    color:white;

    font-family:Poppins,sans-serif;

    display:flex;

    justify-content:center;

    align-items:center;

    gap:10px;

    cursor:pointer;

    transition:.3s;

}

.best-content button:hover{

    background:#8b6b55;

}

@media(max-width:1100px){

.best-grid{

grid-template-columns:repeat(2,1fr);

}

}

@media(max-width:700px){

.best-grid{

grid-template-columns:1fr;

}

.best-heading h2{

font-size:45px;

}

}