* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  width: 100%;
  scroll-behavior: smooth;
  scroll-padding-top: 90px;
}

body {
  width: 100%;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
p {
  margin-top: 0;
}

.home-anchor {
  scroll-margin-top: 90px;
}